@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Dosis|Righteous);

/*fonts*/
/*

font-family: 'Righteous', cursive;

font-family: 'Dosis', sans-serif;

*/

html{
	background-color:#FFFABA;
	font-size:100%;
}
body{
	background-color:#FFFABA;
	width:100%;
	margin:0 auto;
}
header{
	width:92.5%;
	padding-top:1.5em;
	display:block;
	padding:1.25em 2.25% 1.5em 2.25%;

}
img.logo{
	display:block;
	margin-left:0;
	margin-right:0;
	border:none;
	max-width:300px;
	width:70%;
	padding:.5em;
}
div.logo{
	width:55%;
	float:left;
	display:block;
	clear:both;
	margin-right:10%;
}

ul{
	width:35%;	
	clear:both;	
}
li{
	font-size:2.5em;
	text-align:center;
	margin-bottom:.5em;
}
a{
	display:block;	
	margin:0 auto;
	text-decoration: none;
	font-family: 'Dosis', sans-serif;
	line-height:1.25em;
}
a:link{
	color:#FD6B9F;
}
a:visited{
	color:#FFA52C;
}
a:hover{
	color:#FF2C77;
}
a:active{
	color:#FFC06C;
}
a:focus{
	color:#FFF46C;
}
main{
	background-color:#FFA8C5;
	width:92.5%;
	margin:0 auto;
	padding:1.25em 2.25% 1.5em 2.25%;
	box-shadow: 2px 2px 2px rgba(0,0,0,.133) inset;
	margin-bottom:.5em;
}
img{
	max-width:500px;
	border:#FFA8C5 solid 2px;
	width:50%;
	margin:0 25%;
}

div.head{
	margin-bottom:.5em;	
}
h2{
	font-size:3em;
	font-weight:bolder;
	width:90%;
	margin:0 auto;
	text-align:center;
	font-family: 'Righteous', cursive;
	line-height: 1.5em;
	margin-bottom:.25em;


}
p{
	line-height: 1.5em;
	font-size:2em;
	width:95%;
	margin:0 auto;
	margin-bottom:.75em;
	text-align:center;
	font-family: 'Dosis', sans-serif;
}
strong{
	font-weight:bold;
}
h3{
	font-size:2.5em;
	width:75%;
	margin:0 auto;
	text-align:center;
	font-family: 'Righteous', cursive;
	margin-bottom:2em;
}
h4{
	font-size:2.75em;
	font-weight:bold;
	width:90%;
	margin:0 auto;
	text-align:center;
	font-family: 'Dosis', sans-serif;
	text-decoration:underline;
	padding-bottom:.25em;
}
h5{
	padding:.5em 0;
	font-size:1.75em;
	width:30%;
	margin:0 auto;
	text-align:center;
	background-color:#FFA52C;
	margin-bottom:.5em;
	cursor:pointer;
	font-family: 'Dosis', sans-serif;
}
div.forms{
	padding-top:2em;
	display:block;
	width:32%;
	margin:0 auto;

}
input[type="submit"]{
	margin: 0 5%;
	width: 90%;
	text-align:center;
	font-size:3em;
	font-family: 'Righteous', cursive;
	margin-bottom:1em;
	
}
aside{	
	box-shadow: 2px 2px 2px rgba(0,0,0,.133) inset;
	border:solid 2px #FFA52C;
	background-color:#FFA8C5;
	width:92.0625%;
	padding:1.25em 2.25% 1.5em 2.25%;
	margin-left:1.5%;
	margin-right:1.5%;
	clear:both;
}
 #cart_total{
	font-size:2em;
	font-weight:bold;
	width:90%;
	margin:0 auto;
	text-align:center;
}
select{
	margin: 0 25%;
	width: 50%;
	font-size: 1.75em;
	text-align: center;
	font-family: 'Righteous', cursive;

}
textarea{
	margin:0 auto;
	width:95%;
}
footer{
	padding:.5em 0;
	width:95%;
	margin:0 auto;
}
h6{
	font-size:1.5em;
	font-family: 'Dosis', sans-serif;
	float:left;
	display:block;
}
h6.a1{
	margin-left: 3%;
	margin-right: 50%;
}
#textblock{
	opacity:.2;
}
div.fix{
	float:left;
	width:45%;
	margin:0 2.5%;
	padding-bottom: 2em;
}

/*Media queries*/
@media screen and (min-width: 479px){
	h6.a1{
		margin-left: 1%;
		margin-right: 40%;
	}
	div.block{
		float: left;
		width: 45%;
		margin: 0 2.5%;
		padding-bottom: .75em;
	}

	footer{
		width:74.75%;
		padding:1.25em 2%;
		margin:0 10.81%;
	}

	div.fix{
		float:left;
		width:22%;
		margin:0 1.5% 0 1.5%;
		padding-bottom: 2em;
	}






}

@media screen and (min-width: 767px){
	div.block{
		float: left;
width: 20%;
margin: 0 6.66%;
padding-bottom: .75em;
	}
	header{
		width:75%;
		padding-top:1em;
		padding:1.25em 2%;
		margin:0 10.81%;
	}
	main{
		width:75%;
		padding:1.25em 2%;
		margin:0 10.81%;
		margin-bottom:.5em;
	}
	aside{
		width:74.75%;
		padding:1.25em 2%;
		margin:0 10.81%;
	}
	footer{
		width:74.75%;
		padding:1.25em 2%;
		margin:0 10.81%;
	}
	div.logo{
		width:50%;
		margin-right:1em;
	}

	ul{
		width: 47.5%;
	
	}
	h5{
		width:75%;
	}
	h3{
		font-size: 1.75em;
		width: 100%;
		margin-bottom: .5em;
	}

}

@media screen and (min-width: 1279px){
	h2{
		font-size:2em;
	}
	h3{
		font-size:1.5em;
	}
	h4{
		font-size:1.752em;
	}
	h5{
		font-size:1em;
	}
	h6.a1{
		margin-right: 56%;
	}
	li{
	font-size:1.65em;
	margin-bottom:1em;
}
	
	div.logo{
		margin-right:25%;
	}

	ul{
		width:25%;	
	
	}
	input[type="submit"] {
		font-size:2em;
	}
	header{
		width:60%;
		padding-top:1em;
		padding:1.25em 2%;
		margin:0 18%;
	}
	main{
		width:60%;
		padding:1.25em 2%;
		margin:0 18%;
		margin-bottom:.5em;
	}
	aside{
		width:59.75%;
		padding:1.25em 2%;
		margin:0 18%;
	}
	footer{
		width:59.75%;
		padding:1.25em 2%;
		margin:0 18%;
	}

}



/*clearfix*/

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}